@import "table-sections.css";
.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("./../../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  right: -210px;
  z-index: 2;
}
